.post-main {
  height: 1350px;
}

.markdown-wrapper {
  padding: 40px 100px;
}

.input-area {
  overflow: scroll;
  height: 450px;
  margin-top: 50px;
}

#simplemde-editor-2-wrapper {
  overflow: scroll;
  height: 450px;
}

.trace-area {
  overflow-wrap: break-word;
  overflow-y: scroll;
  height: 850px;
  border-top: 7px solid black;
}

.trace-title {
  font-size: 30px;
  font-family: monospace;
  margin-top: 50px;
}
.title {
  font-size: 30px;
  font-family: monospace;
  margin-top: 30px;
  border-bottom: 7px solid black;
}

.button-wrapper {
  display: flex;
  margin-top: 60px;
  padding: 0 10px;
  justify-content: flex-end;
}

.CodeMirror {
  height: calc(100vh - 8rem);
}

img {
  max-width: 800px;
}

#scroll-to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 50px;
  width: 50px;
  color: #fff;
  font-size: 32px;
  background-color: #6b6a6a;
  border: none;
  border-radius: 2px;
  outline: none;
}

.scroll-title {
  margin: 0;
  font-size: 20px;
}
