.post-wrapper {
  box-shadow: 1px 1px 5px grey;
  padding: 30px;
  height: 100vh;
  margin: 0 auto;
  width: 75vw;
  margin-top: 10px;
  margin-bottom: 10px;
  animation-name: fade;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.post-title {
  font-size: 30px;
  font-weight: bold;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  margin-top: 30px;
}

.post-wrapper img {
  width: 70%;
  object-fit: cover;
}

.post-info-wrap {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  padding: 0 10px;
}

.post-info {
  margin-right: 16px;
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 20px;
}

.edit-post-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  position: absolute;
  top: 39px;
  right: 230px;
  color: white;
  font-size: 18px;
}

.eliminate-post-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  position: absolute;
  top: 39px;
  right: 100px;
  color: white;
  font-size: 18px;
}
