.main {
  height: 85vh;
}

.item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.each_item_title {
  display: flex;
  padding: 0 14px;
  height: 45px;
  align-items: center;
  box-shadow: 1px 1px 5px grey;
  margin-bottom: 40px;
}

.article-title {
  flex-grow: 4;
}

.date-title {
  flex-grow: 0.475;
}

.each_item_title {
  width: 78vw;
}

.new-post-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  position: absolute;
  top: 39px;
  right: 230px;
  color: white;
  font-size: 18px;
}

.logout-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  position: absolute;
  top: 41.5px;
  right: 100px;
  color: white;
  font-size: 18px;
}

.each_item_title {
  animation-name: fade;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

.each_item {
  animation-name: fade;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
